#thebuggenie_box {
	height: 50px;
	width: 100%;
}

#thebuggenie_box .tsptbg_project {
	background: url(images/icons/project.png) no-repeat; /* grey */
	float: left;
	width: 92px;
	height: 40px;
	padding-right: 5px;
}
#thebuggenie_box .tsptbg_issues {
	background: url(images/icons/issues.png) no-repeat; /* red */
	float: left;
	width: 92px;
	height: 40px;
	padding-right: 5px;
}

#thebuggenie_box .tsptbg_wiki {
	background: url(images/icons/wiki.png) no-repeat; /* blue */
	float: left;
	width: 92px;
	height: 40px;
	padding-right: 5px;
}

#thebuggenie_box .tsptbg_report {
	background: url(images/icons/report.png) no-repeat; /* green */
	float: left;
	width: 92px;
	height: 40px;
	padding-right: 5px;
}

#thebuggenie_box .clear {
	clear: both;
}